.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.fa-solid.fa-circle{
    text-align: center;
    color: red;
}

.fa-solid.fa-circle.taken{
    color: rgb(59, 183, 43);
}

.tus-horarios{
    padding: 20px;
    width: 100%;
    text-align: center;
}

.lista{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}