<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="estilos.css">
    <title>The Chat Market</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-primary d-flex flex-row-reverse bd-highlight">
        <button class="btn btn-danger" type="submit">Volver</button>                      
        <div class="text-white mb-3 mb-md-0 p-2 bd-highlight">
            <h1>Haz tu oferta</h1>
        </div>            
    </nav>
    <div>
        <div class="text-black mb-3 mb-md-0 p-2 bd-highlight">
            <div class="tus-horarios"><h1>Tus Horarios</h1></div>
        </div>
    </div>     
        <form action="">        
            <div class="fields">
            <input type="text" list="items">
                <datalist id="items">
                    <option value="30/05/2022 09:00"></option>
                    <option value="01/06/2022 10:00"></option>
                    <option value="02/06/2022 11:00"></option>
                </datalist>  
                <textarea id="coment"></textarea>                  
            </div>
            <button type="button" class="btn btn-success">Enviar</button>
        </form>
    </div>
    
</body>
</html>