<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="estilos.css">
    <title>The Chat Market</title>
</head>
<body>

    <section>
        <nav class="navbar navbar-dark bg-primary d-flex flex-row-reverse bd-highlight">
            <button class="btn btn-danger" type="submit">Log out</button>              
            <div class="text-white mb-3 mb-md-0 p-2 bd-highlight">
                <h1>Hola "nombre usuario"</h1>
            </div>            
        </nav>
        <section>
            <div>
                <div class="text-black mb-3 mb-md-0 p-2 bd-highlight">
                    <h1>Mis Horarios</h1>
                </div>
                <div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Dia</th>
                            <th scope="col">Mes</th>
                            <th scope="col">Año</th>
                            <th scope="col">Hora</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">29</th>
                            <td>05</td>
                            <td>2022</td>
                            <td>07:00</td>
                            <td><button type="button" class="btn btn-warning">Ofertar</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div>
                <div class="text-black mb-3 mb-md-0 p-2 bd-highlight">
                    <h1>Mis Ofertas</h1>
                </div>
                <div>
                    <table class="table table-info">
                        <thead>
                          <tr class="table-info">
                            <th class="table-info" scope="col">Dia</th>
                            <th class="table-info" scope="col">Mes</th>
                            <th class="table-info" scope="col">Año</th>
                            <th class="table-info" scope="col">Hora</th>
                            <th class="table-info" scope="col">Estado</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">29</th>
                            <td>05</td>
                            <td>2022</td>
                            <td>07:00</td>
                            <td><i class="fa-solid fa-circle taken">Aceptada</i></td>
                            <td><button type="button" class="btn btn-warning"><i class="fa-solid fa-eye"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></td>                        
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

        </section>
    </section>
    
</body>
</html>